<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scrap Wallah</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      #banner{
        height:360px;
        width: 80%;
        
      }
    </style>
  </head>
   <body>
     <div class="container">
      <h1 class='mt-4 mb-2'>Sell your recyclables <br>
      online with ScrapWallah!</h1>
      <h5>Paper-Plastic-Metal-Appliances</h5>
      <img class="img-fluid mt-4" id="banner" src="https://my-first-webpage--preethamkumar4.repl.co/static/Metal.jpg" >
     <h2 class='mt-4 text-center'>About Us</h2>
     <p class='lead'>Our recycling centre accepts various materials like paper, plastic, appliances, and metal, promoting sustainability and reducing waste. By bringing your recyclables, you can protect the environment and conserve natural resources while earning extra cash. We offer competitive prices and friendly staff to assist with sorting. Don't let your recyclables go to waste.</p>
     <div style="text-align:center;">
     <button class="btn btn-primary btn-lg">Contact Us</button>
      <p class='mt-4'>Cpoyright 2023, Scrap Wallah</p>
     </div>
     </div>   
   </body>
</html>